<footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">About Us</h5>
          <p>Welcome to our flight booking website! We offer a convenient and hassle-free way to book your flights at competitive prices. With a wide selection of airlines and destinations, you can easily find the perfect flight to fit your travel needs. </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">Quick Links</h5>

      
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <img src="../../assets/instagram.png" alt="Logo" width="30" height="30">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <img src="../../assets/linkedin.png" alt="Logo" width="30" height="30">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <img src="../../assets/github.png" alt="Logo" width="30" height="30">
        <i class="fab fa-github"></i>
      </a>
      
      
    </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">Latest News</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <h6 class="mb-0">Flights Offers</h6>
                <!-- <small class="text-muted">May 1, 2023</small> -->
              </a>
            </li>
            
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt"></i> Sitapura, Jaipur, Rajasthan(India) 304502</li>
            <li><i class="bi bi-telephone"></i> (+91) 9079-325778</li>
            <li><i class="bi bi-envelope"></i> phoolwanihritik7877@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-secondary py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">© 2023 Flight Ways. All rights reserved.</p>
          </div>
          <div class="col-md-6">
            <p class="mb-0 text-end">Designed by <a href="#">Hritik Phoolwani</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  